{% extends 'users/base-template.html' %}

{% block content %}
  <h1>Edit Note</h1>
  <form method="post" action="{% url 'edit-note' pk=note.pk %}">
    {% csrf_token %}
    {{ form.title }}
    <br>
    {{ form.content }}
    <br>
    <label for="{{ form.tags.id_for_label }}">Tags:</label>
    <input type="text" name="tags" value="{{ form.initial.tags|join:', ' }}" />
    <br>
    <input type="submit" value="Save changes">
  </form>
  <br>
  <a href="{% url 'note-list' %}">Back to Note List</a>
{% endblock %}
