{% extends 'users/base-sign-forms.html' %}

{% block form %}
<div class="card">
    <div class="card-header">
        <h2 class="h4 m-0 font-weight-normal">Reset Password</h2>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit"  class="btn btn-primary btn-block">Request password reset</button>
        </form>
    </div>
    <div class="card-footer">
        <p class="m-0">If you don't have profile, please <a href="{% url 'users:signup' %}">sign up</a></p>
    </div>
</div>
{% endblock %}