{% extends 'users/base-sign-forms.html' %}

{% block form %}
<div class="card">
    <div class="card-header">
        <h2 class="h4 m-0 font-weight-normal">Please sign in</h2>
    </div>
    <div class="card-body">
        {% if messages %}
        <div>
            {% for message in messages %}
            <div {% if message.tags %} class="alert-{{ message.tags}} text-danger" {% endif %}>{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}

        <form method="post" action="{% url 'users:signin' %}">
            {% csrf_token %}
            <div class="form-group">
                <label>Username:</label>
                {{ form.username }}
            </div>
            <div class="form-group">
                <label>Password:</label>
                {{ form.password }}
            </div>
            <button class="btn btn-primary btn-block" type="submit">Sign in</button>
            <p class="mb-0 mt-3"><a href="{% url "users:password_reset" %}" class="text-center"><i>Forgot Password?</i></a></p>
        </form>
    </div>
    <div class="card-footer">
        <p class="m-0">If you don't have profile, please <a href="{% url 'users:signup' %}">sign up</a></p>
    </div>
</div>
{% endblock %}