<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Uploaded Files</title>
</head>
<body>
    <h1>Uploaded Files</h1>
    <ul>
    {% for file in files %}
        <li>
            {{ file.file.name }}
            <a href="{% url 'filemanager:download_file' file.id %}">Download</a>
            <form action="{% url 'filemanager:delete_file' file.id %}" method="post" style="display: inline;">
                {% csrf_token %}
                <button type="submit">Delete</button>
            </form>
        </li>
    {% endfor %}
    </ul>
</body>
</html>
